


.container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.column {
  flex: 1;
  background: #f4f4f4;
  padding: 1rem;
  border: 1px solid;
  border-radius: 1rem;
  min-height: 400px;
}

.JobCard {
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  cursor: grab;
}

.activeColumn {
  background-color: #e8f0ff;
}
