/* src/components/NavBar/NavBar.module.css */

.container {
  top: 0;
  z-index: 1;
  width: 100%;
  height: 5rem;
  display: flex;
  position: fixed;
  padding: 0px 2.5rem;
  align-items: center;
  background: ;
  border-bottom: 1px solid rgb(200, 200, 200);
}

.container img {
  width: 50px;
 float: left;
 
}

.container ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;
}

.container li {
  margin-left: 35px;
  text-align: right;
}

@media only screen and (max-width: 414px) {
  .container ul {
    padding-left: 0px;
  }
  .container li {
    font-size: 15px;
  }
}
