.container{
display:flex;
flex-direction: column ;
justify-content: center;
height: 100vh ;
align-items: center;
background-image: url('../../assets/bg.png');
background-size: cover;        
background-position: center; 
background-repeat: no-repeat;

}

form{
    display:flex;
    align-items: center;
}

img{
    width: 4rem;
    padding-bottom: 2rem;
}

.seperation {

    padding-bottom: 2rem;    
}


input{
    padding: 0.5rem;
    border-radius: 1rem;
}

.btn{
    margin-bottom: 2rem;
}

 button{

    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0.5rem;
    
}


button:hover{

    background-color: rgba(0, 0, 255, 0.8);
}


.divider {
  height: 1px;
  background-color: black;  
  width: 100%;               
  margin-top: 2rem;
  margin-bottom: 1rem;
}


.container strong{
    color: blue ;
}

.container strong:hover {
    text-decoration: underline;
}