

.container{

    display: flex;
    flex-direction: row;
    width:100%;
    
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;


}

.notes{
    margin-left: 20rem;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
}